body {
    margin: 0;
    color: black;
    font-size: 20px;
}

.head {
    background-image: url(img/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    color: white;
}

.head .top,
.head .top .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.head .menu .menu-item {
    margin-right: 30px;
}

.head__body {
    padding: 30px 60px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.head .middle {
    text-align: center;
}

.head .middle h1{
    font-size: 5rem;
    margin: 0;
}

.head .middle div:nth-child(2) {
    font-size: 3rem;
}

.head .middle button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 2rem;
    margin-top: 70px;
    padding: 30px;
    border-radius: 55px;
}

.head .middle button {
    margin: 0 auto;
}

.head .bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.head .bottom .social {
    border-right: 1px solid white;
    padding-right: 30px;
    margin-right: 30px;
}

.head .bottom .social:last-child {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}


.head2 .top2{
    margin-top: 70px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head2 .bottom2{
    background-image:url("img/mock.png");
    height: 284px;
    background-repeat: no-repeat;
    background-position: center;
}



.head3{
    margin: 70px 0;
}
.head__body3>div>h4{
    margin: 0;
}
.head__body3>div>h2{
    margin-bottom: 0;
}
.head__body3>div>div{
    font-size: 40px;
}
.head__body3{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.head__body3 .text{
    padding-top: 30px;
    border-top: 1px solid grey;
    margin-top: 40px;
}
.head__body3>div{
    width: 25%;
    flex-wrap: nowrap;
}



.head4{
    background-image: url("img/video-poster.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 600px;
}


.head5{
    background-color: #efefef;
}
.head__body5{
    padding: 40px 70px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.top5{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 60px;
}
.bottom5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.middle5{
    width: 40%;
    border: 2px solid rgba(95, 0, 124, 0.85);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.caption5{
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}
.middle5 .caption5{
    color: white;
    background-color: rgba(95, 0, 124, 0.85);
    height: 42px;

}
.side .caption5{
    background-color: grey;
    height: 40px;
}
.description5>div{
    border-bottom: 1px solid grey;
    margin-top: 10px;
    padding-bottom: 10px;
}
.description5>div:last-child{
    border-bottom: none;
}
.bottom5 > div > a > button{
    margin-top: 50px;
    border-radius: 50px;
    font-size: 1rem;
    padding: 15px 50px;
    border: 2px solid rgba(95, 0, 124, 0.85);
    margin-bottom: 20px;
}
.side>a>button{
    color: rgba(95, 0, 124, 0.85);
    background-color: transparent;
}
.middle5>a>button{
    background-color: rgba(95, 0, 124, 0.85);
    color: white;
}
.price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    font-size: 65px;
    margin: 30px 0;
}
.month{
    font-size: 1rem;
}
.text5{
    margin-left: 20px;
    margin-right: 20px;
}
